<section class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Darwin Core Archive
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li {% if app.request.get('_route') == 'dwc-index' %} class="menu-top-active" {% endif %}><a href="{{ path('dwc-index') }}">Fichiers</a></li>
                            <li {% if app.request.get('_route') == 'dwc-compare' %} class="menu-top-active" {% endif %}><a href="{{ path('dwc-compare') }}">Compare</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            OAI-PMH
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('oaipmhdwc', {verb : 'ListMetadataFormats'} ) }}">ListMetadataFormats</a></li>
                            <li><a href="{{ path('dwc-compare') }}">Compare</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MENU SECTION END-->