/var/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/phpunit.xml


# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
!app/console
/vendor/
!bin/console
!bin/symfony_requirements

# Assets and user uploads
/web/bundles/
/web/uploads/
/web/css/
/web/js/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

# Created by https://www.gitignore.io

### Eclipse ###
.metadata
.gradle
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# PDT-specific
.buildpath

### NETBEANS ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
nbproject/*

### PHPSTORM ###
.idea/

### RECOLNAT SPECIFIC ###
data/*
src/AppBundle/Test/data/
src/AppBundle/Test/data/*
!data/.gitkeep
!bin/talend_converter
!bin/talend_converter/*