/var/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/phpunit.xml


# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
!app/console
/vendor/
!bin/console
!bin/symfony_requirements

# Assets and user uploads
/web/bundles/
/web/uploads/
/web/css/
/web/js/

# PHPUnit
/app/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

### RECOLNAT SPECIFIC ###
data/*
src/AppBundle/Tests
!data/.gitkeep
