{% extends 'base.html.twig' %}

{% set sumSpecimens = 0 %}
{% block body %}
    {% for filename in files %}
        <a href="{{ path('viewfile', {'filename':filename}) }}">{{filename}}</a><br/>
    {% endfor %}
{% endblock %}