{% extends 'base.html.twig' %}

{% block body %}
    {% dump(stats)%}
    {% if stats is not empty %}
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3 facets" >
            {% include 'default/partial/facet_stats.html.twig' with {'stats' : stats} %}
        </div>
        
        <div class="col-xs-7 col-sm-7 col-md-8 col-lg-9 col-xs-offset-0">
        {% for specimenId, classWithDiff in stats.summary %}
            <div class="well{{ loop.index is odd ? ' odd' : '' }}" id="{{specimenId}}">
            {% set specimen = attribute(specimens, specimenId) | first %}
            {% include 'default/partial/short_specimen.html.twig' with {'specimen' : specimen} %}
            {% include 'default/partial/short_diff_specimen.html.twig' with {'specimenId' : specimenId, 'stats' : stats} %}
            </div>
        {% endfor %}
        {% endif %}
        </div>
        
        
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    $(document).ready(function(){
        $('table.diff').find( ":radio" ).change(function() {
            var tableContext = $(this).parents('table.diff');
            console.log(tableContext);
            if ($(this).data('type') == 'diff-entity') {
                var relationId = $(this).attr('name') ;
                var choix = $(this).attr('value') ;
                tableContext.find( ":radio")
                        .filter("[name^='"+relationId+"']")
                        .filter('[data-type="diff-field"]')
                        .filter('[value = "'+choix +'"]')
                        .map(
                        function() {
                            $(this).prop('checked', true);
                        });
            }
        });
    });
    </script>
{% endblock %}