<?xml version='1.0' encoding='utf-8'?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:1.2" version="1.2">
    <file source-language="fr" target-language="fr" datatype="plaintext" original="messages.xliff">
        <body>
            {% set compt = 0 %}
    {% for class,fieldsname in translateFields %}
        {% for fieldname in fieldsname %}
            {% set compt = compt +1 %}
        <trans-unit id="{{ compt }}">
            <source>{{ ('label.'~class|lower~'.fields.'~fieldname)|trans }}</source> 
            <target state="translated"></target> 
        </trans-unit>
        {% endfor %}
    {% endfor %}
        </body>
    </file>
</xliff>