{% extends 'base.html.twig' %}

{% block body %}
    {% set datas = diffs.datas %}
    {% if datas is not empty %}
        <div id="wrapper" class="toggled">

            <div id="sidebar-wrapper" >
                {% include 'default/partial/sidebar_diffs.html.twig' with {'itemNumberPerPage' : specimensCode | length, 'currentPage' : 1, 'choices':choicesFacets} %}
            </div>
            <div id="page-content-wrapper">
                {% include 'default/partial/buttonHamburger.html.twig' %}
                {% include 'default/partial/breadcrumb.html.twig' %}
                <div  id="diffs" data-collectionCode="{{collectionCode}}" data-institutioncode="{{institutionCode}}" data-selectedclassname="{{selectedClassName is defined ? selectedClassName : ''}}">


                    {% include 'default/partial/filters.html.twig' with { 'currentPage':1} %}
                    {% for specimenCode, classWithDiff in datas %}
                        {% include 'default/partial/specimen/fullSpecimen.html.twig' %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'default/partial/smallModal.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/AppBundle/js/viewDiffs.js') }}"></script>
{% endblock %}