@import "../bootstrap-3.3.6/less/variables.less";
@import "../bootstrap-3.3.6/less/mixins.less";

@specimen: #c0504d;
@bibliography: #4f81bd;
@determination: #9bbb59;
@localisation: #8064a2;
@recolte: #4bacc6;
@stratigraphy: #f79646;
@taxon : #ffc000;

@fadeTdBackground: 30%;
@fadeTdBackground-light: 20%;
@fadeTdBackground-lighter: 10%;

/** CHARTS **/
.chart rect {
  fill: steelblue;
  cursor: pointer;
  stroke: black;
  stroke-width: 0.5;
}
.chart rect.over {
  stroke: steelblue;
}

.setColor(@color) {
  tr.@{color} td, li.@{color}{ background-color: fade(@@color,@fadeTdBackground)}
  tr.@{color}.light td, li.@{color}.light{ background-color: fade(@@color,@fadeTdBackground-light)}
  tr.@{color}.lighter td, li.@{color}.lighter{ background-color: fade(@@color,@fadeTdBackground-lighter)}
  tr.@{color}.lighter td, li.@{color}.lighter{ background-color: fade(@@color,@fadeTdBackground-lighter)}
  tr.@{color} td.bg-success{.bg-variant(@state-success-bg);}
  .tab-pane.@{color} {background-color: fade(@@color,@fadeTdBackground-lighter)}

  .chart rect.@{color} {fill: @@color;}

}
.setColor(specimen);
.setColor(bibliography);
.setColor(determination);
.setColor(localisation);
.setColor(recolte);
.setColor(stratigraphy);
.setColor(taxon);

/** DIFF TABLE **/
table.diff .diff-class {
  vertical-align: middle;
  font-size: 1.2em;
  font-weight: bold;
}
table.diff .diff-class div{
  transform: rotate(270deg);
  transform-origin: center center ;
}

.well.odd {
  background-color: #e2dede ;
  background-image: linear-gradient(to bottom, #e8e8e8 0px, #fff 100%);
}
.table.diff , .table.diff td, .table.diff th{
  border-color: #08C;
}
.table.diff caption {
  text-align : center;
  font-weight: bold;
  font-size: 1.1em;
}
table.diff th {
  text-align : right;
}
table.diff .xsmall {
  width : 10px !important;
}
table.diff .diff-class {
  vertical-align: middle;
  font-size: 1.2em;
  font-weight: bold;
}
table.diff .diff-class div{
  transform: rotate(270deg);
  transform-origin: center center ;
}

table.diff .diff-entity {
  font-weight: bold;
}
table.diff .diff-entity small{
  font-size: 0.9em;
}

table.diff .input {
  text-align: center;
}

/** FILTERS **/
#form-filters hr {
  color: #e5e5e5;
  background-color: #e5e5e5;
  height: 1px;
}
.pagination {
  margin : 0;
}
#diffs .tab-pane {
  padding : 1em;
}
#diffs .tab-pane .row{
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
}
#diffs .tab-pane .row:last-child{
  border-bottom: none;
}

/** SPECIMEN TABS **/
.nav-tabs>.disabled>a, .nav-pills>.disabled>a {
  color: #999;
  cursor: default;
  border: none; /** add this for tabs/pills **/
}

.nav-tabs>.disabled>a:hover, .nav-pills>.disabled>a:hover {
  background-color: transparent;
}

/** SIDEBAR **/
#sidebar-wrapper ul.choices {
  font-size : 85%;
  list-style: outside none none;
  padding-left : 10px;
}
#sidebar-wrapper> li > a {
  padding : 5px 5px 3px 5px;
}
#sidebar-wrapper> li:hover {
  background-color: #eee;
}
#sidebar-wrapper .nav > li {
  border-bottom: 1px solid #ddd;
}
#sidebar-wrapper .nav> li > a{
  padding: 0 15px;
}
#sidebar-wrapper> li:last-child {
  border-bottom: none;
}
#form-filters legend {
  margin-bottom: 0;
}
#form-filters .form-group {
  margin-bottom: 5px;
}
