@import "../bootstrap-3.3.6/less/variables.less";
@import "../bootstrap-3.3.6/less/mixins.less";

/*@specimen: #c0504d;
@bibliography: #4f81bd;
@determination: #9bbb59;
@localisation: #8064a2;
@recolte: #4bacc6;
@stratigraphy: #f79646;
@taxon : #ffc000;
@diffs : #C7664C;*/

//@specimen: #5DA5DA;
//@bibliography: #FAA43A;
//@determination: #60BD68;
//@localisation: #F17CB0;
//@recolte: #B2912F;
//@stratigraphy: #B276B2;
//@taxon : #DECF3F;
//@multimedia : #F15854;
//@diffs : #4D4D4D;

//@specimen: #8dd3c7;
//@bibliography: #ffffb3;
//@determination: #bebada;
//@localisation: #fb8072;
//@recolte: #80b1d3;
//@stratigraphy: #fdb462;
//@taxon : #b3de69;
//@multimedia : #fccde5;
//@diffs : #d9d9d9;

@specimen: rgb(107, 94, 74);
@bibliography: rgb(239, 190, 118);
@determination: rgb(206, 165, 125);
@localisation: rgb(255, 140, 121);
@recolte: rgb(182, 93, 153);
@stratigraphy: rgb(252, 186, 63);
@taxon : rgb(146, 114, 74);
@multimedia : rgb(135, 189, 106);
@diffs : rgb(125, 155, 172);
/*
@specimen: #00A0B0;
@bibliography:lighten(spin(@specimen, 5), 10%);
@determination: #6A4A3C;
@localisation: lighten(spin(@determination, 5), 10%);
@recolte: #CC333F;
@stratigraphy: lighten(spin(@recolte, 5), 10%);
@taxon : #EDC951;
@multimedia : lighten(spin(@taxon, 5), 10%);
@diffs : rgb(125, 155, 172);
*/
/*@specimen: #663333;
@bibliography: lighten(spin(@specimen, 5), 10%);
@determination: lighten(spin(@specimen, 10), 20%);
@localisation: darken(spin(@specimen, -5), 10%);
@recolte: darken(spin(@specimen, -10), 20%);
@stratigraphy : lighten(spin(@specimen, 10), 30%);
@taxon : arken(spin(@specimen, -10), 30%);
@determination: lighten(spin(@specimen, 10), 40%);
@diffs : rgb(125, 155, 172);*/

@fadeTdBackground: 50%;
@fadeTdBackground-light: 40%;
@fadeTdBackground-lighter: 30%;
@fadeTdBackground-dark: 30%;

/** CHARTS **/
.chart rect {
  fill: steelblue;
  cursor: pointer;
  stroke: black;
  stroke-width: 0.5;
}
.chart rect.over {
  stroke: steelblue;
}

.setColor(@color) {
  tr.@{color} td, tr.@{color} th{ background-color: fade(@@color,@fadeTdBackground);}
  tr.@{color}.light td, li.@{color}.light{ background-color: fade(@@color,@fadeTdBackground-light)}
  tr.@{color}.lighter td, li.@{color}.lighter{ background-color: fade(@@color,@fadeTdBackground-lighter)}
  tr.@{color} td.highlight{border: 1px double darken(@@color,@fadeTdBackground-dark);}


  #sidebar-wrapper ul li.@{color} {
    background-color: fade(@@color,@fadeTdBackground);
  }
  .chart {
    rect.@{color} {
      fill: @@color;
    }
    text.title.@{color} {
      fill: @@color;
      text-transform: capitalize;
    }
  }
  .label.@{color} {
    background-color: @@color;
    &[href] {
      &:hover,
      &:focus {
        background-color: darken(@@color, 10%);
      }
    }
  }
  .tab-pane.@{color} {background-color: fade(@@color,@fadeTdBackground-light)}
  .nav-tabs {
    border-bottom: 1px solid @nav-tabs-border-color;
    > li.@{color} {
      float: left;
      // Make the list-items overlay the bottom border
      margin-bottom: -1px;
      background-color : transparent;

      // Actual tabs (as links)
      > a {
        background-color: fade(@@color,@fadeTdBackground-light);
        margin-right: 2px;
        line-height: @line-height-base;
        //border: 1px solid transparent;
        border : 1px solid fade(@@color,@fadeTdBackground);
        border-radius: @border-radius-base @border-radius-base 0 0;
        &:hover {
          border-color: fade(@@color,@fadeTdBackground);
        }
      }

      // Active state, and its :hover to override normal :hover
      &.active > a {
        &,
        &:hover,
        &:focus {
          color: @nav-tabs-active-link-hover-color;
          /*background-color: @nav-tabs-active-link-hover-bg;
          border: 1px solid @nav-tabs-active-link-hover-border-color;*/
          background-color: fade(@@color,@fadeTdBackground-light);

          border-bottom-color: transparent;
          cursor: default;
        }
      }
      // Disabled state sets text to gray and nukes hover/tab effects
      &.disabled > a {
        color: @nav-disabled-link-color;
        background-color: transparent;
        &:hover,
        &:focus {
          color: @nav-disabled-link-hover-color;
          text-decoration: none;
          background-color: transparent;
          cursor: @cursor-disabled;
        }
      }
    }
  }

}
.setColor(specimen);
.setColor(bibliography);
.setColor(determination);
.setColor(localisation);
.setColor(recolte);
.setColor(stratigraphy);
.setColor(multimedia);
.setColor(taxon);
.setColor(diffs);

/** DIFF TABLE **/
.well.odd {
  background-color: #e2dede ;
  background-image: linear-gradient(to bottom, #e8e8e8 0px, #fff 100%);
}
table.diff {
  //border-color: #08C;
  > tbody > tr > td, > tbody > tr > th {
    //border-color: #08C;
    vertical-align: middle;
  }
  td:last-child, td:nth-child(3) { // Pour le bouton radio
    text-align: center;
  }
  td >
  th {
    text-align : right;
  }
  .diff-class {
    vertical-align: middle;
    font-size: 1.2em;
    font-weight: bold;
    div {
      transform: rotate(270deg);
      transform-origin: center center ;
    }
  }
  .diff-entity {
    font-weight: bold;
  }
  .diff-entity small{
    font-size: 0.9em;
  }
  .input {
    text-align: center;
  }
  caption {
    text-align : center;
    font-weight: bold;
    font-size: 1.1em;
  }
}
/** FILTERS **/
#form-filters {
  hr {
    color: @legend-border-color;
    background-color: @legend-border-color;
    height: 1px;
  }
  legend {
    margin-bottom: 0;
  }
  .form-group {
    margin-bottom: 5px;
  }
}

.pagination {
  margin: 0;
}

/** Onglets */
#diffs .tab-pane {
  padding: 1em;
  .row {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
  }
  .row:last-child {
    border-bottom: none;
  }
}

/** SIDEBAR **/
#sidebar-wrapper ul.choices {
  font-size : 85%;
  list-style: outside none none;
  padding-left : 0;
}
#sidebar-wrapper ul li div {
  margin-left : 10px;
}

#sidebar-wrapper> li > a {
  padding : 5px 5px 3px 5px;
}
#sidebar-wrapper> li:hover {
  background-color: #eee;
}
#sidebar-wrapper .nav > li {
  border-bottom: 1px solid #ddd;
}
#sidebar-wrapper .nav> li > a{
  padding: 0 ;
}
#sidebar-wrapper> li:last-child {
  border-bottom: none;
}

/** TABLE WITH ROTATED HEADER
see : http://jsfiddle.net/D2RLR/7569/ */
.table-header-rotated td{
  vertical-align: middle;
  text-align: center;
  border : none !important;
}
.table-header-rotated th {
  border : none !important;
}
.table-header-rotated th.rotate{
  height: 80px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
  border : none;
}

.table-header-rotated th.rotate > div{
  position: relative;
  top: 0px;
  left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  transform:skew(-45deg,0deg);
}

.table-header-rotated th.rotate span {
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
}
.table-header-rotated th:first-of-type,.table-header-rotated td:first-of-type{
  text-align:left;

}
