# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: 123456

    database_host_diff:     127.0.0.1
    database_port_diff:     ~
    database_name_diff:     symfony
    database_user_diff:     root
    database_password_diff: 123456

    max_nb_specimen_par_pass : 200

   # mailer_transport:  smtp
   # mailer_host:       127.0.0.1
   # mailer_user:       ~
   # mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    server_login_url: https://localhost:8443/cas/
    server_validation_url: https://localhost:8443/cas/serviceValidate
    server_logout_url: https://localhost:8443/cas/logout
    xml_namespace: cas
    request_options:

    url_recolnat: https://explore.recolnat.org/#/specimen/
    api_recolnat_base_uri: https://api.recolnat.org/erecolnat/
    api_recolnat_server_ticket_path: v1/tickets/
    api_recolnat_user_path: users/login/
    api_recolnat_auth_service_url: https://api.recolnat.org/erecolnat/auth/

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    user_group: www-data
    data_path: "src/AppBundle/Data"
