{% extends '@App/Compute/templateMail.html.twig' %}

{% block mail_content %}
    <h1>{{ 'searchDiffs.end.success' | trans({'%collectionLabel%':collectionLabel}, 'mail') }}</h1>
    <table class="callout">
        <tr>
            <th class="callout-inner success">
                <p>
                    {{ 'searchDiff.success.link' | trans({}, 'mail') }}
                    <a href="{{ url('viewfile', {'institutionCode':collection.institution.institutionCode, 'collectionCode':collection.collectionCode}) }}">
                        {{ url('viewfile', {'institutionCode':collection.institution.institutionCode, 'collectionCode':collection.collectionCode}) }}
                    </a>
                </p>
            </th>
            <th class="expander"></th>
        </tr>
    </table>
{% endblock %}
