<div class="search-box">
    <button type="button" class="btn btn-primary btn-search" data-toggle="collapse" data-target="#js-search-form"
            aria-expanded="false" aria-controls="js-search-form" aria-label="{{ 'label.search'|trans }}">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
    <form id="js-search-form" class="collapse search-form" action="{{ path('search', {'collectionCode':collectionCode}) }}"
          role="search">
        <input type="text" placeholder="{{ 'label.search' | trans }}" name="search" class="form-control">
    </form>
</div>
