{% set page = 1 %}

<ul class="nav sidebar-nav sidebar-choices">
    {% for catalogNumber, lonesomeRecord in lonesomeRecords %}
        <li>
            {% set taxon = lonesomeRecord.taxon %}
            {% if taxon is null %}
                {% set taxon = 'label.notaxon' | trans %}
            {% endif %}
            {% set path='' %}
            {% if page != currentPage %}
                {% set path = path('lonesomes', {'collectionCode' : collectionCode, 'db' : db, 'page' : page, 'selectedClassName' : selectedClassName}) %}
            {% endif %}

            <a href="{{ path }}#{{ catalogNumber | replace({' ':''}) }}"
               data-currentpage="{{ page != currentPage ? 'false' : 'true' }}">{{ taxon }}</a>

            {% if ( loop.index % itemNumberPerPage) == 0 %}
                {% set page = page +1 %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
