{% set lonesomeRecord = attribute(datas, catalogNumber) %}
{% set flag = '' %}
{% for className, items in lonesomeRecord %}
    {% if className != flag and className|lower not in ['taxon', 'localisation'] %}
        {% for item in items %}

            {% set flag = className %}
            <span class="label label-primary {{ className|lower }}">
            {{ ('label.'~className|lower) | transchoice(loop.length, {}, 'entity') }} - {{ db }}</span>

            {% set templatePath = '@App/Front/partial/specimen/tab-' ~ className|lower ~ '.html.twig' %}
            {% include templatePath with {'catalogNumber':catalogNumber,'id':item.id} %}
        {% endfor %}
    {% endif %}

{% endfor %}
