{% extends '@App/base.html.twig' %}
{% set collectionCode = collection.collectioncode %}
{% set institution = collection.institution %}
{% set choices = exportManager.sessionHandler.choicesForDisplay %}
{% set catalogNumbers = pagination.getItems %}

{% block body %}
    {% set datas = diffs.datas %}
    {% if datas is not empty %}
        <div id="wrapper" class="toggled">

            <div class="sidebar-wrapper sidebar-wrapper-left">
                {% include '@App/Front/partial/sidebar_diffs.html.twig' with {'itemNumberPerPage' : catalogNumbers | length, 'currentPage' : 1} %}
            </div>

            <div id="page-content-wrapper">
                {% include '@App/Front/partial/buttonHamburger.html.twig' %}
                {% include '@App/Front/partial/breadcrumb.html.twig' %}
                {% include '@App/Front/partial/pagination.html.twig' %}


                <div id="diffs" data-collectionCode="{{ collectionCode }}" data-institutioncode="{{ institutionCode }}"
                     data-selectedclassname="{{ selectedClassName is defined ? selectedClassName : '' }}">
                    {% include '@App/Front/partial/filters.html.twig' with { 'currentPage':1} %}
                    {% for catalogNumber, classWithDiff in datas %}
                        {% include '@App/Front/partial/specimen/fullSpecimen.html.twig' %}
                    {% endfor %}

                </div>
            </div>
        </div>
    {% endif %}
    {% include '@App/Front/partial/smallModal.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/AppBundle/js/viewDiffs.js') }}"></script>
    {%  include '@App/Front/partial/pagination_js.html.twig' %}
{% endblock %}
