{% extends '@App/base.html.twig' %}

{% block  body %}
    <h1 class="page-header">{{'prefs.save.title' | trans({}, 'prefs') }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
